@use 'base/variables' as v;

.alerta {
    padding: 1rem;
    color: v.$blanco;
    width: 50%;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;
    margin-left: 30rem;

    &.error {
        background-color: v.$rojo;
    }
    &.exito {
        background-color: v.$verde;
    }
}