@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    padding-top: 10rem;
    
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
        // padding-left: 20rem;
    }

    .imagen {
        display: flex;
        justify-content: center;
        padding-left: 15rem;
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 10rem 0 3rem;
    }
    .precioC{
        padding-top: 2rem;
        font-size: 2rem;
        font: bold;
    }
    .detall{
        padding-top: 2rem;
        display: flex;
        align-items: center;
    }
}