.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .borrar-carrito {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    display: inherit;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 26rem;
  }
  
  ul {
    list-style: none;
  }
  
  
  .submenu {
    position: relative;
  }
  
  .submenu #carrito{
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: blanchedalmond;
    padding: 15px;
    min-height: 500px;
    min-width: 300px;
    border: 2px solid black;
  }
  .vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
  }
  .contenido-hero {
    margin-top: 80px;
    color: white;
  }
  .contenido-hero form {
    position: relative;
    margin-bottom: 0;
  }
  .contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
  }
  .contenido-hero form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
  }
  
  
  
  #lista-cursos .row {
    margin-bottom:20px;
  }
  .agregar-carrito {
    margin:10px 0;
  }
  
  .card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
  }
  @media (min-width: 550px) {
    .card {
        text-align: left;
    }
  }
  .info-card  {
    padding: 10px 20px;
  }
  
  .info-card p, 
  .card h4 {
    margin-bottom: 5px;
  }
  .info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
  }
  .info-card .precio span {
    font-weight: 700;
    font-size: 22px;
  }

  .subtotal{
    margin: 0;
    padding: 18px 22px 9px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price{
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: #28c76f;
  }

  .cant{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

//   .minicart-items-wrapper {
//     border: 1px solid #ccc;
//     margin: 0 -20px;
//     border-left: 0;
//     border-right: 0;
//     min-height: 400px;
//     min-width: 300px;
//     overflow-x: auto;
//     padding: 15px
// }